<div id="studies">
  <h2>Mina kurser</h2>
  <nav class="course-type">
    <ul class="course-nav">
      <li>
        <a data-id="current" href="#">
          Aktuella
        </a>
      </li>
      <li>
        <a data-id="completed" href="#">
          Avslutade
        </a>
      </li>
      <li>
        <a data-id="misc" style="cursor: not-allowed;" href="#">
          Övriga
        </a>
      </li>
    </ul>
  </nav>
  <section id="current">
    <ul>
      {{#each activeStudentCourses}}
      <li>
        {{this.courseCode}} - {{this.name.sv}}
        <ul>
          <li>
            <a href="{{this.pmUrl}}">Kursinformation</a>
          </li>
          {{#each this.canvasLinks}}
          <li>
            <a href="{{this.url}}">{{this.name}}</a>
          </li>
          {{/each}}
        </ul>
      </li>
      {{/each}}
    </ul>
  </section>
  <section id="completed">
    <ul>
      {{#each completedStudentCourses}}
      <li>{{this.courseCode}} - {{this.name.sv}}</li>
      {{/each}}
    </ul>
  </section>
</div>