<div id="studies">
  <header>
    <h2>Mina kurser</h2>
    <div>
      <a href="#">Hjälp/feedback</a>
      <a href="#">
        <svg viewBox="0 0 86 86" xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em">
          <title>Ändra hur du blir notifierad, hur schemat visas, ta bort prenumerationer.</title>
          <path
            d="M11.41 72.18a42.98 42.98 0 0 0 20.65 12.41A10.62 10.62 0 0 1 32 83.5a10.5 10.5 0 1 1 20.91 1.35 42.95 42.95 0 0 0 21.3-12.28 10.5 10.5 0 0 1 10.3-18.3 43.05 43.05 0 0 0 0-22.54 10.5 10.5 0 0 1-10.3-18.3A42.94 42.94 0 0 0 52 .94l.01.56a10.5 10.5 0 0 1-21 .2 43 43 0 0 0-19.59 12.12A10.49 10.49 0 0 1 1.38 32.16a43.07 43.07 0 0 0 0 21.68 10.5 10.5 0 0 1 10.04 18.34zM42 57.94a15 15 0 1 0 0-30 15 15 0 0 0 0 30z"
            fill="currentColor" fill-rule="evenodd"></path>
        </svg>
      </a>
    </div>
  </header>
  <nav class="course-type">
    <ul class="course-nav">
      <li>
        <a data-id="current" href="#">
          Aktuella
        </a>
      </li>
      <li>
        <a data-id="completed" href="#">
          Avslutade
        </a>
      </li>
      <li>
        <a data-id="misc" style="cursor: not-allowed;" href="#">
          Övriga
        </a>
      </li>
    </ul>
  </nav>
  <section id="current">
    <ul>
      {{#each activeStudentCourses}}
      <li>
        {{this.courseCode}} - {{this.name.sv}}
        <ul>
          <li>
            <a href="{{this.pmUrl}}">Kursinformation</a>
          </li>
          {{#each this.canvasLinks}}
          <li>
            <a href="{{this.url}}">{{this.name}}</a>
          </li>
          {{/each}}
        </ul>
      </li>
      {{/each}}
    </ul>
  </section>
  <section id="completed">
    <ul>
      {{#each completedStudentCourses}}
      <li>{{this.courseCode}} - {{this.name.sv}}</li>
      {{/each}}
    </ul>
  </section>
</div>