(function(d){
  var kpm;
  function create_menu() {
    const userName = "{{userName}}";
    kpm = d.createElement('nav');
    kpm.id = "kpm"
    kpm.innerHTML= '<div class="kpmbar"><a href="#kpm">Menu</a></div><div class="kpmpanel"></div>';
    kpm.querySelector('a[href="#kpm"]').addEventListener('click', open_panel);
    d.body.insertBefore(kpm, d.body.firstChild);
  }
  function fetch_css() {
    var el = d.createElement('link');
    el.href = "{{cssUrl}}";
    el.rel = "stylesheet";
    el.type = "text/css";
    d.head.appendChild(el);
  }
  function open_panel(e) {
    kpm.classList.toggle('open')
    // TODO: Load this from the server
    kpm.querySelector('.kpmpanel').innerHTML = '<p>Hello, {{userName}}</p><p><a href="{{baseUrl}}">About KTH Personal Menu</a> – here you can enable or disable the new personal menu.</p><p><a href="{{baseUrl}}/logout">Logga ut</a></p>'
    e.preventDefault();
    e.stopPropagation();
  }
  fetch_css();
  create_menu();
})(document)

